body {
    background-color: #f5f1ee;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #504e76;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form {
    width: 500px;
    background-color: #FCDD9D;
    border: 2px solid black;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: red;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

/*background-color: #eab58c*/

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: larger;
}

li:hover {
    background-color: #dc97a5;
    border-radius: 10px;
}

li a {
    color: #f2e8df;
    text-decoration: none;
    margin: 10px;
}

footer {
    justify-content: center;
    background-color: #dc97a5;
    color: #f8eecb;
    padding: 10px;
    margin: 0
}