main {
    padding: 0;
    margin: 0;
}

/*USAR EN RESEÑAS*/
.grid-container {
    display: grid;
    background-color: green;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    padding: 10px;
    margin: 20px;
}

/*USAR EN PRODUCTOS*/
.container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.card {
    color: white;
    background-color: #e7d6af;
    margin: 10px;
    flex: 1 1 200px;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.grid-container > div:hover {
    transform: translateY(-5px);
}