.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

.products-section .products-title {
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 18px;
    row-gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.product-card h5 {
    margin-bottom: 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 450px;
    gap: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 12px;
    border: 1px solid #d3d3d3;
}

.product-card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    /* margin-top: 13px; */
    padding: 0 20px;
}

.product-card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    padding: 8px;
}

.total #precio-total {
    font-size: 23px;
    font-weight: 400;
}

.btn-add-cart {
    padding: 10px 15px;
    background-color: #a7211d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    width: 11rem;
    align-self: center;
}

.container > div:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .product-card {
        width: 95%;
        height: 100%;
    } 

    .container {
        gap: 2rem;
    }
    
}