.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.products-section .products-title {
    padding: 20px;
}

.products-title {
    font-family: "Ruleway", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 18px;
    row-gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.product-card h5 {
    margin-bottom: 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 12px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    letter-spacing: 1px;
    font-weight: 600;
}

.product-card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 0 20px;
}

.info span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.product-card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    padding: 8px;
    cursor: pointer;
}

.total #precio-total {
    font-size: 23px;
    font-weight: 400;
}

.btn-add-cart {
    padding: 10px 15px;
    background-color: #910118;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    width: 11rem;
    align-self: center;
}

.container > div:hover {
    transform: translateY(-5px);
}

@media (max-width: 480px) {
    .product-card {
        padding: 15px;
        gap: 15px;
    }

    .product-card span {
        font-size: medium;
    }

    .btn-add-cart {
        padding: 8px 16px;
        font-size: small;
    }
}

@media (max-width: 768px) {
    .product-card {
        width: 90%;
        height: 33rem;
        padding: 25px;
        gap: 20px;
    } 

    .product-card img {
       padding: 0;
       object-fit: contain;
    }

    .product-card .info {
        margin: 0 20px;
        padding: 0 5px;
        gap: 8px;
        margin-top: 6px;
    }

    .product-card h5 {
        font-size: 25px;
    }

    .product-card span {
        font-size: 22px;
    }

    .btn-add-cart {
        /* padding: 5px 14px; */
        width: 14rem;
        font-size: 19px;
        margin-top: 5px;
    }
    
    .container {
        padding: 15px;
        gap: 2rem;
    }
}

@media (min-width: 769px) {
    .product-card {
        width: 47%;
        height: 30rem;
        padding: 8px;
        gap: 25px;
    }

    .product-card img {
        padding: 0;
        object-fit: contain;
    }

    .product-card .info {
        margin: 0 20px;
        padding: 0 5px;
        gap: 10px;
        margin-top: 10px;
    }

    .product-card h5 {
        font-size: 20px;
    }
    .container {
        padding: 0;
    }
}


@media (min-width: 1024px) {
    .product-card {
        width: 20rem;
        height: 30rem;
        padding: 18px;
        gap: 18px;
    }

    .product-card span {
        font-size: large;
    }

    .btn-add-cart {
        padding: 10px 20px;
        font-size: medium;
    }
}
