body {
    background-color: white;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7211d;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0 10px;
}

.carrito i{
    margin-left: 16px;
    margin-right: 5px;
}

.menu {
    display: none;
}

nav ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

li {
    display: inline-block;
}

li a:hover {
    color: #e7d6af;
}

li a {
    color: #f2e8df;
    text-decoration: none;
    margin: 20px;
}

@media (max-width: 768px) {
    li {
        display: none;
    }

    .menu {
        display: inline;
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #751405;
    color: #e7d6af;
    padding: 10px;
    height: 20rem;
}

footer p {
    text-align: center;
    margin: 0;
}

footer img {
    width: 200px;
}