body {
    background-color: #e0e1d5;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color:#751405;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-style: normal;
} */

.logo img {
    height: 80px;
    margin-right: 10px;
}

/*background-color: #eab58c*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: larger;
}

.carrito {
    margin-right: 20px;
}

li {
    float: left;
}

li a:hover {
   color: #e7d6af;
}

li a {
    color: #f2e8df;
    text-decoration: none;
    margin: 15px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #751405;
    color: #e7d6af;
    padding: 10px;
    height: 100px;
}

footer p {
    margin: 0;
}
