body {
    background-color: white;
    padding: 0;
    margin: 0;
}

header {
    display: block;
    background-color: #a7211d;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.nav-close, .menu {
    display: none;
}

nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
}

.carrito {
    padding: 10px;
    color: white;
    margin-right: 10px;
}

.carrito i {
    font-size: 25px;
}

.logo img {
    height: 100px;
    width: 90px;
}

li {
    display: inline-block;
}

li a:hover {
    color: #e7d6af;
}

li a {
    color: #f2e8df;
    text-decoration: none;
    margin: 20px;
}


@media (max-width: 768px) {
    header {
        position: relative;
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #a7211d;
      }
      
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    .nav-close,
    .menu {
        display: flex;
        color: white;
        font-size: 1.5rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        background-color: #a7211d;
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: left .4s;
        z-index: 2;
    }

    .nav-item {
        transform: translateX(-150px);
        visibility: hidden;
        transition: transform .4s ease-out, visibility .4s;
    }

    .nav-item:nth-child(1) {
        transition-delay: .1s;
    }

    .nav-item:nth-child(2) {
        transition-delay: .2s;
    }

    .nav-item:nth-child(3) {
        transition-delay: .3s;
    }

    .nav-close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }

    .nav-list {
        color: white;
        margin-top: 20px;
        display: flex;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-list {
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        transition: opacity .4s;
    }

}

.show-menu {
    left: 0;
}

.show-menu .nav-item {
    visibility: visible;
    transform: translateX(0);
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #751405;
    color: #e7d6af;
    padding: 10px;
    height: 20rem;
}

footer p {
    text-align: center;
    margin: 0;
}

footer img {
    width: 200px;
}